	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1564px;
		padding-bottom: 62px;
	}

	#u102
	{
		height: 447px;
		background-image: url("../images/fondo7.jpg");
		position: relative;
		margin-right: -10000px;
		width: 100.1%;
		left: 0.1%;
	}

	#pgaleria
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 294px;
		margin-left: -2px;
	}

	#galeria
	{
		margin-left: 2px;
	}

	#infoposada
	{
		margin-top: 266px;
	}

	#infocaba
	{
		margin-top: 168px;
	}

	#noticias
	{
		margin-top: 175px;
	}

	#pu1335-11
	{
		margin-right: -10000px;
		margin-top: 447px;
		width: 97.07%;
		margin-left: 1.4%;
	}

	#u1335-11
	{
		width: 100%;
	}

	#u2216
	{
		margin-top: 18px;
		width: 91.69%;
		margin-left: 4.16%;
	}

	#u2827
	{
		margin-top: 1105px;
		width: 91.69%;
		margin-left: 4.21%;
	}

	#aboutus
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 295px;
	}

	#slideshowu2246
	{
		height: 800px;
		margin-right: -10000px;
		margin-top: 1186px;
		left: 23.21%;
	}

	#u2259,#u2262,#u2264,#u2260
	{
		width: 1077px;
		height: 669px;
	}

	#u2262_img,#u2264_img,#u2260_img
	{
		margin: -25px 1px -24px -1px;
	}

	#u2268
	{
		width: 636px;
		top: 687px;
		left: 220px;
	}

	#u2271-4,#u2269-4
	{
		width: 616px;
		text-align: left;
	}

	#u2270-4
	{
		width: 616px;
		text-align: center;
	}

	#u2266-4
	{
		width: 48px;
		top: 760px;
		left: 488px;
	}

	#u2267-4
	{
		width: 10px;
		top: 760px;
		left: 458px;
	}

	#u2248-4
	{
		width: 10px;
		top: 760px;
		left: 556px;
	}

	#u2626-4
	{
		margin-right: -10000px;
		margin-top: 992px;
		width: 49.21%;
		left: 25.4%;
	}

	#u2883-3
	{
		margin-right: -10000px;
		margin-top: 813px;
		width: 0.75%;
		left: 85.81%;
	}

	#contacto
	{
		width: 22px;
		margin-right: -10000px;
	}

	.verticalspacer
	{
		margin-bottom: -539px;
		min-height: 1px;
	}

