#u2559
{
	border-color: transparent;
	border-width: 0px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
}

#u4863-3
{
	background-color: #731900;
}

#menuu3862
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u3869-4
{
	font-size: 20px;
	border-color: transparent;
	border-width: 0px;
	text-align: center;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u3863,#u3866,#u3870,#u3873,#u4087,#u4090,#u4288,#u4289,#u4477,#u4478,#u4666,#u4667
{
	background-color: transparent;
}

#u3866:hover,#u3873:hover,#u4090:hover,#u4289:hover,#u4478:hover,#u4667:hover
{
	border-radius: 0px;
	background-color: transparent;
}

#u3866:active,#u3873:active,#u4090:active,#u4289:active,#u4478:active,#u4667:active
{
	border-radius: 88px;
	background-color: #754C24;
}

#u3866.MuseMenuActive,#u3873.MuseMenuActive,#u4090.MuseMenuActive,#u4289.MuseMenuActive,#u4478.MuseMenuActive,#u4667.MuseMenuActive
{
	border-radius: 0px;
	background-color: #C69C6D;
}

#u3874-4,#u4092-4,#u4292-4,#u4480-4,#u4670-4
{
	font-size: 20px;
	border-color: transparent;
	border-width: 0px;
	text-align: center;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
}

.MenuItem
{
	cursor: pointer;
}

@media (min-width: 1255px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

@media (min-width: 1203px) and (max-width: 1254px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

@media (min-width: 1147px) and (max-width: 1202px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

@media (min-width: 1103px) and (max-width: 1146px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

@media (min-width: 1039px) and (max-width: 1102px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

@media (min-width: 979px) and (max-width: 1038px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr.jpg");
	}

}

@media (min-width: 883px) and (max-width: 978px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr2.jpg");
	}

}

@media (min-width: 783px) and (max-width: 882px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr3.jpg");
	}

}

@media (min-width: 667px) and (max-width: 782px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr4.jpg");
	}

}

@media (min-width: 505px) and (max-width: 666px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr5.jpg");
	}

}

@media (min-width: 405px) and (max-width: 504px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr6.jpg");
	}

}

@media (min-width: 321px) and (max-width: 404px)
{
	#u2559
	{
		background-image: url("../images/fondo5-u2559-fr7.jpg");
	}

}

@media (max-width: 320px)
{
	#u2559
	{
		background-image: url("../images/fondo5.jpg");
	}

}

